$gearColor: #05aff1;

.gear-header {
  .gear-header__img-wrapper {
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .img {
      height: 100%;
      background-size: cover;
      &:first-child {
        background-image: url('/images/gear_standard/header1.png');
      }
      &:nth-child(2) {
        background-image: url('/images/gear_standard/header1.png');
      }
    }
    .img__contents {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      h2 {
        font-size: 36px;
        font-weight: 600;
      }
      h3 {
        font-size: 30px;
        animation: blink 5s infinite;
      }
      .gear-color {
        color: $gearColor;
        font-weight: 600;
      }
      .red {
        color: red;
        font-weight: 600;
      }
      .gold {
        color: gold;
      }
    }
  }
  .gear-header__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 5px;
    .gear-header__tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 15px;
      border: 1.5px solid black;
      border-radius: 10px;
      background-color: rgba($color: $gearColor, $alpha: 0.2);
      .tab__subtitle {
        color: goldenrod;
      }
    }
    .gear-header__tab--selected {
      background-color: $gearColor;
      .tab__title {
        color: white;
      }
      .tab__subtitle {
        color: gold;
      }
    }
  }
}

.features {
  padding: 10px;
  .features__title {
    padding: 15px;
    font-size: 30px;
    font-weight: 600;
    color: $gearColor;
  }
  .features__contents {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 28px;
    font-weight: 600;
    .features__content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        &:last-child {
          padding-left: 22px;
          font-weight: normal;
          font-size: 24px;
        }
      }
    }
  }
}

.standard-gear {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .product__type {
      padding-left: 10px;
      font-weight: 600;
    }
    .product__img-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      .product__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .product__name {
          font-size: 14px;
        }
      }
    }
    .product__info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 30px);
      gap: 1px;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.6);
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
      background-color: rgba($color: #000000, $alpha: 0.6);
      span {
        font-style: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .info__title {
        background-color: rgba($color: white, $alpha: 0.5);
        color: white;
      }
      .info__type {
        background-color: white;
        color: red;
      }
      .info__value {
        background-color: white;
      }
    }
    &:first-child {
      .product__img {
        width: 40%;
      }
    }
    &:nth-child(2) {
      .product__img {
        width: 50%;
      }
    }
    &:last-child {
      .product__img {
        width: 20%;
      }
    }
    &:not(:last-child) {
      .product__info {
        grid-template-columns: 0.2fr 0.7fr repeat(3, 1fr);
        grid-template-rows: repeat(3, 30px);
        span {
          &:first-child {
            grid-column: span 2;
          }
        }
      }
    }
  }
}
