.slides-pagination {
  position: absolute;
  top: 75px;
  left: 0;
  background: white;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  .pages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 15px;
    padding: 15px;
    .page {
      cursor: pointer;
      height: 200px;
      border-radius: 10px;
      box-sizing: border-box;
      position: relative;
      border: 0.1px solid rgba($color: #000000, $alpha: 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      .page__index {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        color: white;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .page__index--selected {
        color: red;
      }
    }
  }
}

.page {
  background-size: cover;
  &:first-child {
    background-image: url('/images/pages/1.png');
  }
  &:nth-child(2) {
    background-image: url('/images/pages/2.png');
  }
  &:nth-child(3) {
    background-image: url('/images/pages/3.png');
  }
  &:nth-child(4) {
    background-image: url('/images/pages/4.png');
  }
  &:nth-child(5) {
    background-image: url('/images/pages/5.png');
  }
  &:nth-child(6) {
    background-image: url('/images/pages/6.png');
  }
  &:nth-child(7) {
    background-image: url('/images/pages/7.png');
  }
  &:nth-child(8) {
    background-image: url('/images/pages/8.png');
  }
  &:nth-child(9) {
    background-image: url('/images/pages/9.png');
  }
  &:nth-child(10) {
    background-image: url('/images/pages/10.png');
  }
  &:nth-child(11) {
    background-image: url('/images/pages/11.png');
  }
  &:nth-child(12) {
    background-image: url('/images/pages/12.png');
  }
}
