.product-header {
  .product-header__img {
    width: 100%;
    height: 280px;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 32px;
  }
  .product-header__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 5px;
    .product-header__tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding: 10px 15px;
      border: 1.5px solid black;
      border-radius: 10px;
      .tab__subtitle {
        color: gold;
      }
    }
    .product-header__tab--selected {
      background-color: rgba($color: black, $alpha: 0.6);
      .tab__title {
        color: white;
      }
    }
  }
}

.pg-closed_standard {
  background-image: url('/images/pg-closed_standard/header.jpg');
}
.pg-closed_example {
  background-image: url('/images/pg-closed_example/header.jpg');
}
.cb-closed_standard {
  background-image: url('/images/cb-closed_standard/header.jpg');
}
.cb-closed_example {
  background-image: url('/images/cb-closed_example/header.jpg');
}
.sj-fence_standard {
  background-image: url('/images/sj-fence_standard/header.jpg');
}
.sj-fence_example {
  background-image: url('/images/sj-fence_example/header.jpg');
}
.cb-fence_standard {
  background-image: url('/images/cb-fence_standard/header.jpg');
}
.cb-fence_example {
  background-image: url('/images/cb-fence_example/header.jpg');
}

.standard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .product__type {
      padding-left: 10px;
      font-weight: 600;
    }
    .product__img-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .product__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .product__img {
          width: 70%;
        }
        .product__name {
          font-size: 12px;
        }
      }
    }
    .product__info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 40px);
      gap: 1px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      background-color: black;
      span {
        font-style: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .info__title {
        background-color: rgba($color: white, $alpha: 0.6);
        color: white;
      }
      .info__value {
        background-color: white;
      }
    }
  }
}

.example {
  .example__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 28px;
    font-weight: 600;
  }
  .example__img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    .example__img-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .example__img {
        width: 100%;
        height: 100%;
      }
      .example__img-title {
        padding-left: 5px;
        font-size: 14px;
      }
    }
  }
}

.swiper-slide:nth-child(4),
.swiper-slide:nth-child(8) {
  .product:first-child {
    .product__img-container {
      display: flex;
      .product__img {
        width: 50%;
      }
    }
  }
}

.swiper-slide:nth-child(5) {
  .example__img-container {
    display: flex;
    flex-direction: column;
    .example__img {
      height: 250px;
    }
  }
}
